# copied and modified from https://github.com/NVIDIA/warp/blob/main/.gitattributes
* text=auto
*.sh text eol=LF

# Store binary/model assets directly in Git. Git LFS is intentionally not used.
*.usd -text
*.dae -text
*.mtl -text
*.obj -text
*.gif -text
*.png -text
*.jpg -text
*.psd -text
*.mp4 -text
*.usda -text
*.hdr -text
*.pt -text
*.jit -text
